@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

/* Navbar */
.navbar {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.navbar-top img {
  max-height: 80px;
}

.favs {
  display: flex;
  font-size: 40px;
  margin: 20px 55px 20px 415px;
  color: red;
}

.favs p {
  color: black;
  margin-right: 5px;
}

.search {
  margin: 0 auto;
  width: 100%;
}

.txt-busqueda {
  width: 88%;
  height: 40px;
  border: 1 solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
  margin-right: 15px;
}

.btn {
  text-transform: capitalize;
  font-size: 15px;
  color: white;
  background-color: #363636;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 5px 30px;
}

/* Pokemons */
.pokemon-container {
  overflow: hidden;
  width: 95%;
  height: 530px;
  margin: 20px auto;
}

.list-container {
  width: 90%;
  margin: 28px auto;
}

.pokemons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 0 20px;
}

.pokemon {
  display: flex;
  padding: 10px;
  width: 400px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  background-color: #ffffff;
  border-color: rgba(black, black, black, 0.5);
}

.pokemon img {
  height: 80px;
  width: 80px;
}

.pokemon-info {
  flex-flow: row wrap;
  width: 75%;
  margin: auto 10px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 10px 0;
}

.top-info h3 {
  font-weight: bold;
  text-transform: capitalize;
}

.top-info h3,
p {
  margin: 0;
}

.button-info {
  display: flex;
  justify-content: space-between;
}

.types {
  display: flex;
  margin: auto 0;
}

.types p {
  margin-right: 10px;
}

.btn-fav {
  border-radius: 4px;
  padding: 5px 5px 1px 5px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 25%);
  color: rgb(36, 36, 36);
  cursor: pointer;
}

.fav-pokemon {
  color: red;
}

.loading {
  position: absolute !important;
  top: 40%;
  left: 40%;
  height: 300px;
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 20px;
  border: solid #363636 1px;
}

.style_lds-ring__AieBx {
  margin: 110px;
}

.info-pagination {
  width: 85%;
  height: 40px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: flex-end;
}

.info-pagination span {
  font-size: 18px;
}

.info-pagination select {
  margin-left: 10px;
}

.info-pagination select,
option {
  font-size: 18px;
}

.left-info {
  margin: auto 0;
}

.pagination {
  margin: auto 0;
  display: flex;
}

.pagination svg {
  font-size: 24px;
  vertical-align: middle;
}

.btn-pages {
  cursor: pointer;
  margin-right: 5px;
}

.btn-pages:last-child {
  margin-right: 0;
}

footer {
  margin-top: 283px;

  height: 50px;
  width: 100%;
  background-color: #363636;
  overflow: hidden;
}

footer p {
  text-align: center;
  margin: 10px 0;
  color: #f4f4f4;
  font-size: 24px;
}

footer p a {
  text-decoration: none;
  color: #f4f4f4 !important;
}

@media only screen and (max-width: 1440px) {
  footer { 
    margin-top: 103px;
  }
}

@media only screen and (max-width: 1366px) {
  footer { 
    margin-top: 0;
  }
}
